body, section, div, span, p, h1, h2, canvas {
  margin: 0;
  font-family: 'Orbitron', sans-serif;
}

#canvas {
  background-image: url("../images/background.jpg");
  background-size: cover;
}

.screen {
  display: flex;
  flex-direction: row nowrap;
  justify-content: center;
}

h1 {
  color: white;
  font-size: 45px;
  text-align: center;
}

.scoreboard, .life {
  border: 5px solid white;
  border-radius: 4px;
  color: white;
  text-align: center;
  margin: 10px 5px;
}

.life {
  width: 100px;
}

.scoreboard {
  width: 175px;
}

.scoreboard h2, .life h2 {
  padding: 8px;
  font-size: 20px;
}

.stats {
  display: flex;
}

#score, #life {
  background-color: black;
  font-size: 25px;
  padding: 5px;
}

#life {
  background-color: green;
}

.board {
  max-width: 100%;
  border: 1px solid black;
}

.controls {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  border: 1px solid black;
  background-color: #800000;
}

.difficulty {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.difficulty div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.difficulty h2 {
  color: white;
  text-align: center;
}

.difficulty img {
  height: 40px;
  width: 40px;
}

.difficulty button {
  border: 2px solid white;
  border-radius: 4px;
  padding: 10px 10px;
  margin: 5px 10px;
  font-family: 'Orbitron', sans-serif;
  font-size: 15px;
  width: 120px;
}

.difficulty button:hover {
  cursor: pointer;
}

#light {
  background-color: #ffff80;
}

#light:hover {
  box-shadow: 1px 1px 1px #ffff80;
}

#standard {
  background-color: #ff80ff;
}

#standard:hover {
  box-shadow: 1px 1px 1px #ff80ff;
}

#heavy {
  background-color: #80ff80;
}

#heavy:hover {
  box-shadow: 1px 1px 1px #80ff80;
}

#mute {
  border: none;
  margin: 5px 0;
}

#mute, #mute img {
  width: 60px;
  height: 60px;
  background-color: #800000;
}

#mute:hover {
  cursor: pointer;
  transform: translateY(1px);
}

.instructions {
  display: flex;
  margin-top: 15px;
  height: 130px;
}

.instructions > * {
  width: 140px;
  margin: 10px;
}

.links {
  padding: 10px;
  margin-top: 8px;
}

.links img {
  width: 60px;
  height: 60px;
  margin: 0 15px;
}
